!.gitignore
.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

uploads
application/config/config.php
application/config/cb_config.php
application/config/database.php
query_cache/*
