* {border:0; padding:0; margin:0;}

.textBold {font-weight:bold;}
.textBlue {color: #629dfb;}
.textRed {color: #ff2b12;}

.marginTopL {margin-top:50px;}
.marginTopM {margin-top:30px;}
.marginTopS {margin-top:10px;}
.marginBottomL {margin-bottom:50px;}
.marginBottomM {margin-bottom:30px;}
.marginBottomS {margin-bottom:10px;}

#outWrap {max-width:850px; margin:0 auto; padding-left:10px; padding-right:10px;}

.pageImgCell {margin-bottom:25px;}
.pageImgCell img {width:100%;}

.headTitleCell {font-size:35px; font-weight:bold; margin-bottom:30px;}
.subTitleCell {font-size:24px; font-weight:bold; margin-bottom:10px;}
.sectionTitleCell {font-size:20px; font-weight:bold; margin-bottom:30px;}

.pageTextCell {font-size:18px; line-height:25px; margin-bottom:10px;}
.referTextCell {font-size:12px; line-height:20px; margin-bottom:10px;}

.listType1 {list-style-position:inside; font-weight:bold; font-size:18px; padding-left:20px; margin-bottom:10px;}
.listType1 li {margin-top:10px; margin-bottom:10px;}
.listType2 {list-style-position:inside; font-weight:bold; font-size:14px; padding-left:20px; margin-bottom:10px;}
.listType2 li {margin-top:10px; margin-bottom:10px;}

.phoneCell {position:relative; width:378px; margin:30px auto;}
.phoneCell img {width:100%;}
.phoneCell .infoInputCell {position:absolute; top:400px; left:45px;}
.phoneCell .infoInputCell table {width:280px;}
.phoneCell .infoInputCell th {text-align:left; width:80px; height:40px; font-size:18px;}
.phoneCell .infoInputCell input {border:solid 1px #cccccc; padding:5px;}
.phoneCell .infoInputCell select {border:solid 1px #cccccc; padding:5px;}
.phoneCell .infoInputCell #phoneInput2 {width:35px;}
.phoneCell .infoInputCell #phoneInput3  {width:35px;}
.phoneCell .infoInputCell .applyBtnCell {text-align:center; margin-top:5px; width:100%;}
.phoneCell .infoInputCell .applyBtnCell img {border:none; width:200px;}
.phoneCell .infoInputCell .privacy {margin-top:15px; color:#999999; font-size:12px; line-height:18px;}
.phoneCell .infoInputCell .privacy a {margin-left:10px; background-color:#999999; text-decoration:none; color:#000000; font-size:11px; padding:3px; border-radius:3px;}
.phoneCell .infoInputCell .privacy input[type=checkbox] {vertical-align:middle;}

@media(max-width:400px){
    .phoneCell {width:320px;}
    .phoneCell .infoInputCell {top:335px; left:38px;}
    .phoneCell .infoInputCell table {width:240px;}
    .phoneCell .infoInputCell th {text-align:left; width:60px; height:35px; font-size:15px;}
    .phoneCell .infoInputCell input[type=text] {width:120px;}
    .phoneCell .infoInputCell select {}
    .phoneCell .infoInputCell #phoneInput2 {width:32px;}
    .phoneCell .infoInputCell #phoneInput3  {width:32px;}
    .phoneCell .infoInputCell .applyBtnCell img {border:none; width:150px;}
    .phoneCell .infoInputCell .privacy {margin-top:15px; color:#999999; font-size:11px; line-height:18px;}
    .phoneCell .infoInputCell .privacy a {margin-left:10px; background-color:#999999; text-decoration:none; color:#000000; font-size:11px; padding:3px; border-radius:3px;}
    .phoneCell .infoInputCell .privacy input[type=checkbox] {vertical-align:middle;}
}

body {	margin: 0px;	font-size:12px;	font-family:"Malgun Gothic", arial, Tahoma, sans-serif;}
img {	border:0}
a {	color:#111111;	text-decoration:none}
a:hover {	text-decoration:underline;	color:#cc0000}
.txt {	width: 215px;	overflow:hidden;	text-overflow:ellipsis;	white-space:nowrap;}
#title {
	width:95%;margin:0 auto;line-height: 40px; letter-spacing: -0.05em; font-family: "NanumGothic"; font-size: 30px; font-weight: bold;
}
#sub_title {
	padding: 15px 10px;
	color: rgb(102,102,102);
	line-height: 20px;
	font-family: NanumGothic;
	font-size: 15px;
}



.red_txt { color:#ff0000; }
.blue_txt {
	color: #0066FF;
}
.bold_txt { font-weight:bold; }

.body_title {	font-size: 20px;	color: #000;		padding: 12px 0;	letter-spacing: -1px;	font-weight:bold}
.body_txt {	line-height:28px;	font-size:17px;	font-family:"Malgun Gothic", arial, Tahoma, sans-serif;	color:#333333;	letter-spacing:-0.5px}
input, textarea {border:1px solid #bbbbbb}

.db_name {padding:15px 10px; width:60px; background-color:#f1f1f1; font-weight:bold; font-size:16px}
li{list-style:none}

.comment {	background-color:#fafafa;	border:1px #e4e4e4 solid;	font-size:15px;	padding:10px;	line-height:20px}
.comment a {color:#444444}
.bad {color: #6a96ed;	margin-left: 5px;	border: 1px solid #ddd;	border-radius: 3px;	height: 25px;	line-height: 25px;	padding: 0 5px;	font-size: 13px;	background-color:#FFFFFF;	width:33px;	text-align:center}
.good {color: #ff2828;	border: 1px solid #ddd;	border-radius: 3px;	height: 25px;	line-height: 25px;	padding: 0 5px;	font-size: 13px;	background-color:#FFFFFF;	width:50px;	text-align:center}
.news_title {padding:11px 0 11px 8px;	border-bottom:1px solid #e5e5e5;	font-size:18px;	color:#ff0000;	font-weight:bold}
.news {	padding:11px 0 11px 8px;	border-bottom:1px solid #e5e5e5;	font-size:16px}
.news a {background:url(http://simg.imadrep.co.kr/common/imgs/dot_1.gif) no-repeat;	background-position:left;	padding-left:10px;	color:#333333}
.news_img1 {background:url(img/banner1.jpg) no-repeat;	background-size:90% 140px;	background-position:center;	padding-bottom:5px}
.news_img2 {background:url(img/banner2.jpg) no-repeat;	background-size:90% 140px;	background-position:center;	padding-bottom:5px}
.news_img3 {background:url(img/banner3.jpg) no-repeat;	background-size:90% 140px;	background-position:center;	padding-bottom:5px}
.news_img4 {background:url(img/banner4.jpg) no-repeat;	background-size:90% 140px;	background-position:center;	padding-bottom:5px}
.news_img1 a, .news_img2 a, .news_img3 a, .news_img4 a {	color:#FFFFFF;	font-weight:bold;	font-size:14px;}